/*--- HTML Rules ---*/
body	{
	background:black;
	font-family: tahoma;
	color: black;
}
hr	{
	top: 0px;
	left: 0px;
	color: rgb(128,128,128);
	background: rgb(128,128,128);
	height:2px;
	width: 670px;
	border:none;
	margin-top:0px;
	margin-bottom:0px;
}
div	{
	margin:0px;
}
p	
{
	margin-left:12px;
	margin-right:6px;
	margin-bottom:12px;
	margin-top:6px;
}
a:link, a:visited, a:active	{
	color: rgb(0,0,255);
	text-decoration:none;
}
a:hover	{
	color: rgb(255,0,0);
}

h1 {
	color: #000080;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:14px;
	margin-top:10px;
}

h2, h3 {
	margin-left:6px;
	margin-right:6px;
	margin-bottom:12px;
	margin-top:6px;
}

/*--- Nav Rules ---*/
#navheader	{
	width: 780px;
	border:none;
	margin-top:0px;
	margin-bottom:10px;
}
.sitetitle	{
	font-size: 14px;
	font-weight: bold;
	margin-bottom:3px;
}
.nav	{
	font-size: .6em;
}

/*--- Content Rules ---*/
#content	{
	width:780px;
}
.copy	{
	position:relative;
	width:400;
	height:auto;
	font-size:12px;
	margin-top:0px;
}
#content img	{
	float:left;
	margin:0 10px 20px 0;
}
.pagetitle	{
	font-size: 14px;
	font-weight: bold;
	margin-bottom:3px;
}


/*--- Footer Rules ---*/
#footer	{
	margin-top:10px;
	width:780px;
	text-align:center;
	clear:left;
}
.update	{
	margin-top:3px;
	height:auto;
	font-size:12px;
	text-align:center;
}
.copyright	{
	font-size:10px;
}
	
